#!/bin/bash
{{ if (eq .chezmoi.os "darwin") -}}
osascript -e 'tell application "System Preferences" to quit'

# ---------------------------------------------------------------------------------------------------------------------
# Global settings
# ---------------------------------------------------------------------------------------------------------------------
defaults write com.apple.appleseed.FeedbackAssistant "Autogather" -bool "false" 

# 1. 设置24小时时间格式
defaults write com.apple.menuextra.clock Show24Hour -bool true
defaults write com.apple.menuextra.clock ShowAMPM -bool false
defaults write NSGlobalDomain AppleICUForce24HourTime -bool true

# 3. 触摸板设置
# 启用轻点点击
defaults write com.apple.driver.AppleBluetoothMultitouch.trackpad Clicking -bool true
defaults -currentHost write NSGlobalDomain com.apple.mouse.tapBehavior -int 1
defaults write NSGlobalDomain com.apple.mouse.tapBehavior -int 1

# 设置触摸板速度为最快
defaults write NSGlobalDomain com.apple.trackpad.scaling -float 3.0

# 4. 启用自动更新
sudo defaults write /Library/Preferences/com.apple.SoftwareUpdate AutomaticCheckEnabled -bool true
sudo defaults write /Library/Preferences/com.apple.SoftwareUpdate AutomaticDownload -bool true
sudo defaults write /Library/Preferences/com.apple.SoftwareUpdate AutomaticallyInstallMacOSUpdates -bool true
sudo defaults write /Library/Preferences/com.apple.SoftwareUpdate ConfigDataInstall -bool true
sudo defaults write /Library/Preferences/com.apple.SoftwareUpdate CriticalUpdateInstall -bool true

# 5. 应用更改
killall SystemUIServer
killall Finder
{{ end -}}
