encryption: "age"

age:
  identity: "~/.config/chezmoi/key.txt"
  recipients:
    - "age1faz99y8rup8eu2u0mestsxqmdn5tdrf9fppp0ddjjplnhd052qxs2zazqz"

edit:
  command: "cursor"
  args:
    - "--wait"

diff:
  command: "cursor"
  args:
    - "--wait"
    - "--diff"
  exclude:
    - scripts

merge:
  command: "bash"
  args:
  - "-c"
  - "cp {{ "{{" }} .Target {{ "}}" }} {{ "{{" }} .Target {{ "}}" }}.base && cursor --new-window --wait --merge {{ "{{" }} .Destination {{ "}}" }} {{ "{{" }} .Target {{ "}}" }} {{ "{{" }} .Target {{ "}}" }}.base {{ "{{" }} .Source {{ "}}" }}"

data:
  gpg_ssh_keygrip:
    - "FD27EA4B93E40F4A3F9FA87855540658EED5196C"
    - "CC21527B54F9BBA5089E8AE2631DA410082AC80B"
  git:
    email: "9566402+rxrw@users.noreply.github.com"
    name: "rxrw"
    signing_key: "CC1815C5A638E511"